.hero {
    height: auto;
    margin:auto;
}

.top-navbar {
    height: auto;
    margin:auto;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top-logo {
    margin:auto;
    margin-top: 10px;
    
}

.top-logo img {
    width: 70px;
    margin:auto;
}

.list {
    flex: 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
      

}

.list-item a{
    font-size: 12px;
}

.nav-btn button{
    padding: 10px 20px;
}

/* hero-sect */

.hero-body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 20px;
}

.hero-left {
    width:300px;
    margin: auto;
    align-self: center;
}


.hero-left img {
    width: 280px;
    padding: 0 10px;
    height: auto;
    margin: auto;
    
}

.hero-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero-right h1 {
    font-size: 1.5rem;
    margin: auto;
    align-self: flex-start;
    width: 300px;
    
}

.hero-right p {
    margin: auto;
    font-size: 14px;
    line-height: 1.5em;
    margin: 30px auto;
    width: 300px
}

.contact-email {
    width: 300px;
    margin: auto;
    
}

.contact-email input {
    height: 40px;
    width: 300px;
    margin: auto;
    
    
}


.contact-email button {
    padding: 10px 35px;
    position: relative;
    display: inline;
    bottom: 40px;
    left: 170px;
}

/* connectin-section */
.connect-headline {
    text-align: center;
    font-size: 0.9rem;
    padding: 10px 0;
}

.connect-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.stat {
    width: 150px;
    margin: 10px;
}

.connect-stats div h4 {
    
    font-size: 18px;
    text-align: center;
}

.connect-stats div p{
    
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}

.connect-img {
    width: 250px;
    height:auto;
    margin: auto;
    margin-bottom: 10px;
}

/* webdesign-section */

.webdesign-headline {
    font-size: 1.1rem;
    padding: 30px 0;
}

.webdesign-hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 320px;
    overflow: hidden;
    margin: auto;
    gap: 50px;
}

.webdesign-left {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}

.webdesign-left h2 {
    text-align: left;
    font-size: 1.1rem;
   
}

.webdesign-left p {
    margin: 15px 0;
    line-height: 1.5em;  
    font-size: 14px;
}

.webdesign-left button {
    padding: 10px 30px;
    
}

.webdesign-right {
    height: auto;
    width:300px;
    overflow: hidden;
    margin: auto;
}

/* marketing-section */

.marketing-section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.marketing-left {
    width: 300px;
    margin: auto;
}

.marketing-left img {
    margin: auto;
    margin-top: 20px;
    height: auto;
    width: 300px;
}

.marketing-right {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.marketing-right h2 {
    font-size: 1.4rem;
    margin-top: 15px;
}

.marketing-right p {
    margin: 30px 0;
    line-height: 1.5em;  
    font-size: 14px;
    width: 250px;
    
}

.marketing-right button {
    align-self: start;
    padding: 10px 30px;
}

/* judge-section */

.judge-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    margin-top: 15px;
}

.judging-left {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
}

.judging-left h2 {
    font-family: 'Raleway';
    font-size: 1.4rem;
}

.judging-left p {
    margin: 30px 0;
    line-height: 1.5em;  
    font-size: 14px;
}

.judging-left button {
    align-self: start;
    padding: 10px 30px;
}

.judging-right {
    width: 300px;
    overflow: auto;
}

.judging-right img {
    margin-top: 20px;
    height: auto;
    width: 300px;
    position: static;
    margin-bottom: 20px;
}

/* team-section */



.team-headline {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    gap: 10px;
    
}

.team-headline h1 {
    font-size: 1.4rem;
}

.team-headline p {
    font-size: 14px;
    width: 280px;
    margin: auto;
    margin-bottom: 15px;
}

.tema-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 300px;
    margin: auto;
    
}

.team-image img {
    width:280px;
}

.team-card h4 {
    margin: 10px 0;
}

.team-card p {
    line-height: 1.5em;
    font-size: 14px;
    margin-bottom: 20px;
}

.team-btn {
    width: 125px;
    margin: auto;
}

.team-btn button {
    margin: auto;
    padding: 10px 30px;
    
}

/* footer */

.footer-section {
    margin-top: 30px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    justify-content: space-between;
}

.footer-logo {
    margin: auto;
}

.footer-logo img {
    width: 70px;
    margin-top: 10px;
}

.social-icons {
    
    margin: auto;
    margin-top: 10px;
}

.social-icons img {
    margin: auto;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px 20px;
    padding-bottom: 100px;
    width: 280px;
    margin: auto;
}

.footer-list h4 {
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-list ul{
    list-style-type: none;
}

.footer-list ul li {
    font-size: x-small;
    line-height: 2em;
    cursor: pointer;
}